
.unaclasse{
  width: 10px;

  .classedentrounaclasse{
    height: 20px;

    &:hover {
      color: white;
    }
  }
}

@mixin FlexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div1{
  @include FlexCenter;
}

